# Created by https://www.gitignore.io

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# custom 
env

# shell 
*.out
init-letsencrypt.sh
data/


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


### Django ###
*.log
*.pot
*.pyc
__pycache__/
app/**/__pycache__
local_settings.py

# Database
*.sqlite3

# media
./app/media

# Node modules
node_modules


# General
*.DS_Store
#app/**/migrations/*.py





